button {
    background-color: #409eff;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: #64b1ff;
}

select, option {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box, .register-box, .login-box {
    width: 300px;
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}